{% extends 'base.html' %}
{% block content %}
<div class="row text-center" style="width: 100%;margin-top: 100px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center">
            <h3 class="pagetitle">Questions Submitted by {{object.submittedby}}</h3>
        </div>
</div>
<div class="row text-center" style="width: 100%;">
  <div class="col-sm-2"></div>
  <div id="DivIdToPrint" class="col-sm-8 text-left">
        <ul class="list-group" style="width: 100%; margin-top:20px;">
                {% for q in object.questions.all %}
                <li class="list-group-item" style="padding:5px;">
                        <div class="row text-left" style="width: 100%;">
                                <div class="col-sm-12">{{forloop.counter}} - {{q}}</div>

                        </div>
                        <div class="row text-left" style="width: 100%;">
                                <div class="col-sm-12">Answer: {{q.answer}}</div>
                        </div>
                </li>
                {% endfor%}
                {% for q in object.mcqs.all %}
                <li class="list-group-item" style="padding:5px;">
                        <div class="row text-left" style="width: 100%;">
                                <div class="col-sm-12">{{forloop.counter}} - {{q}}</div>
                        </div>
                        <div class="row text-left" style="width: 100%;">
                                <div class="col-sm-12">Answer: - {{q.answer}}</div>
                        </div>
                </li>
                {% endfor%}
        </ul>
  </div>
    <div class="row text-center">
        <div class="col-sm-3"></div>
        <div class="col-sm-2">
            <button id="pdfd" style="text-decoration: none; color:rgb(97, 93, 93);" class="btn btn-secondary" type="button">PDF Download</button>
        </div>
        <div class="col-sm-2">
            <button id="myClickButton" style="text-decoration: none; color:rgb(97, 93, 93);" class="btn btn-secondary" type="button">Print</button>
        </div>
        <div class="col-sm-2">
            <button id="csvd" style="text-decoration: none; color:rgb(97, 93, 93);" class="btn btn-secondary" type="button">CSV Download</button>
        </div>
    </div>
    <center></center>
</div>


<script>

    function printData()
    {
       var divToPrint=document.getElementById("DivIdToPrint");
       newWin= window.open("");
       newWin.document.write('<html><body onload="window.print()">'+divToPrint.innerHTML+'</body></html>');
       newWin.print();
       newWin.close();
    }

    $('#myClickButton').on('click',function(){
         printData();
    })

    $('#csvd').on('click',function(){
        window.location = "/csvd/{{ object.id }}";
    })

     $('#pdfd').on('click',function(){
        window.open("/pdfd/{{ object.id }}", '_blank');
    })
</script>
{% endblock %}
