{% extends 'base.html' %}
{% block content %}
<div class="row" style="width: 100%; margin-bottom:30px;">
    <div class="col-sm-8 text-left">
      <h2>{{page_title}}</h2>
    </div>
</div>
    <div class="row" style="width: 100%;">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
      <div class="col-sm-2 text-left"></div>
      <div class="col-sm-8 text-left">
        <ul id="myUL" class="list-group">
        {% for obj in object_list %}
            <li class="list-group-item" >
                <div class="row">
                    <div class="col-sm-8">
                        <a href="{{obj.get_absolute_url}}" style="text-decoration: none; color:rgb(97, 93, 93);" class="btn btn-secondary">{{forloop.counter}} - {{obj}}</a>
                    </div>
                    <div class="col-sm-2">
			    submitted by <a href="#">{{obj.submittedby}}</a>
                    </div>
                    {% if user.is_superuser %}
                        <div class="col-sm-2">
                            <a href="{{obj.get_delete_url}}" style="text-decoration: none; color:rgb(97, 93, 93);" class="btn btn-danger"> Delete <span class="glyphicon glyphicon-trash"></span></a>
                        </div>
                    {% endif %} 
                </div>
            </li>
        {% empty %}
            <li class="list-group-item" >No Item yet</li>
        {% endfor %}
        </ul>
      </div>
  </div>

  <script>
function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {

    txtValue = li[i].getElementsByTagName("a")[0].innerText + li[i].getElementsByTagName("a")[1].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
   }
}
</script>

{% endblock %}
