{% extends 'base.html' %}

{% block content %}

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-center"><h3>Forgot password</h3></div>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
      <div class="col-sm-6 text-left">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-info btn-primary custombtn">Submit</button>
        </form>
      </div>
    </div>
{% endblock %}