{% extends 'base.html' %}
{% block content %}
<div class="row" style="width: 100%; margin-bottom:30px;">
    <div class="col-sm-8 text-left">
      <h2>{{page_title}}</h2>
    </div>
</div>
<div class="row" style="width: 100%; margin-bottom:30px;">
    <div class="col-sm-2 text-left"></div>
    <div class="col-sm-8 text-right">
      <a href="{% url 'addform' %}" style="text-decoration: none; color:rgb(97, 93, 93); margin:5px;" class="btn btn-success"> Add Form <span class="glyphicon glyphicon-plus-sign"></span></a>
    </div>
</div>
    <div class="row" style="width: 100%;">
      <div class="col-sm-2 text-left"></div>
      <div class="col-sm-8 text-left">
        <ul class="list-group">
        {% for obj in object_list %}
            <li class="list-group-item" >
                <div class="row">
                    <div class="col-sm-8">
                            <a href="{{obj.get_absolute_url}}" style="text-decoration: none; color:rgb(97, 93, 93);" class="btn btn-secondary">{{forloop.counter}} - {{obj}}</a>
                    </div>
                    <div class="col-sm-2">
                            <a href="{{obj.get_update_url}}" style="text-decoration: none; color:rgb(97, 93, 93);" class="btn btn-info"> Edit <span class="glyphicon glyphicon-pencil"></span></a>
                    </div>
                    <div class="col-sm-2">
                            <a href="{{obj.get_delete_url}}" style="text-decoration: none; color:rgb(97, 93, 93);" class="btn btn-danger"> Delete <span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item" >No Item yet</li>
        {% endfor %}
        </ul>
      </div>
  </div>
{% endblock %}