{% extends 'base.html' %}

{% block content %}
<div class="row" style="width: 100%; margin-bottom:30px;">
    <div class="col-sm-8 text-left">
      <h2>{{page_title}}</h2>
    </div>
</div>
<div class="row text-center" style="width: 100%;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="row headerbar" style="width: 100%;">
                    <div class="col-sm-6 text-left">
                    <p class="pagetitle">{{object}}</p>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a href="/forms" class="btn btn-info btn-primary custombtn">
                            Back<span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </div>
            </div>
        </div>
</div>
<div class="row text-center" style="width: 100%;">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
            <form method="post">
                {{form.non_field_errors}}
                {% csrf_token %}
                {% for field in form %}
                <div class="row text-left" style="width: 100%;">
                    <div class="col-sm-3">    
                        <div class="form-group">
                            <label>{{field.label_tag}}</label>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <span class="myinput">
                                {{ field }} 
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            {% if field.help_text %}<div class="alert alert-success">{{ field.help_text | safe }}</div>{% endif %}
                            {% if field.errors %}<div class="alert alert-danger">{{ field.errors }}</div>{% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="row text-left" style="width: 100%;">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary ">Update</button>
                        </div>
                    </div>
                </div>
            </form>
    </div>
</div>
{% endblock %}
