{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-left">
        <h1> Select your question form</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-left">
        <ul class="list-group">
        {%for obj in forms%}
        <li class="list-group-item" >
            <a href="{% url 'formfill' pk=obj.pk%}">{{forloop.counter}} - {{obj}}</a>
        </li>
        {%endfor%}
        </ul>
    </div>
</div>
{% endblock %}