{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-left">
        <h1> Login </h1>
        <form method="Post" action="/login">
            {% csrf_token %}
            {{ form.as_p }}
            <input type='submit' value='Login' class="btn btn-info btn-primary custombtn">
        </form>
        <br>
        <p>OR</p>
        <a href="/signup" class="btn btn-info btn-primary custombtn">
            Register
        </a>
        <a href="/password_reset/" class="btn btn-info btn-primary custombtn">
            Forgot Password
        </a>
    </div>
</div>
{% endblock %}