{% extends 'base.html' %}
{% block content %}
<div class="row text-center" style="width: 100%;">
    <h3> Delete Question</h3>
</div>
<div class="row text-center" style="width: 100%;">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
      <div class="panel panel-default">
          <div class="panel-body">Are you sure you want to delete {{name}}: <strong>{{ object.Name }}</strong> ?</div>
      </div>
        <form method="POST">{% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Confirm<span class="glyphicon glyphicon-trash"></span></button>
                <a class="btn btn-success btn-sm" href='javascript:history.go(-1)' >Cancel</a>
        </form>
  </div>
</div>
{% endblock %}

